@font-face {
  font-family: 'Lato';
  src: url('../Stilos/PT_Sans/PTSans-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: absolute; 
  top: -1px;       
  left: 20px;
  transform: translateX(-50%);
  width: 70px;       
  height: auto;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(50, 1, 48, 0.815);
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../imagen/nose.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Contenedor__login-register{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
}

.login-container {
  display: flex;
  width: 800px;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.login-form {
  flex: 1;
  padding: 60px 40px;
  color: white;
  background-color: #490467bc;
}

.login-form h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  margin-bottom: 15px;
}

.login-form p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 30px;
}

.login-form a, .register-form a {
  display: block; 
  font-size: 14px; 
  margin: 3px 0; 
  color: #c1aef9; 
  text-decoration: none; 
  margin-top: -15px;
  transition: color 0.3s;
}

.login-form a:hover, .register-form a:hover {
  color: #4f27bc; /* Cambia el color al pasar el mouse */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #4a2153;
  color: white;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.remember input {
  margin-right: 10px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #7f5af0, #5f27cd);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #6f43c6, #2c0db5);
}

.login-bg {
  flex: 1;
  background-image: url('../imagen/simon-bolivar1.webp');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

/* registro*/
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.register-form {
  flex: 1;
  padding: 55px 40px;
  color: white;
  background-color: #490467bc;
}
.register-form h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.register-form p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}
.register-form a {
  color: #c1aef9;
  text-decoration: none;
  transition: color 0.3s;
}
.register-form a:hover {
  color: #a18ae0;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 14px;
  margin-bottom: 5px;
}
h4 {
  font-size: 14px; 
  margin: 10px 0; 
  color: white; 
}

.register-form a {
  display: block;
  font-size: 15px;
  text-align: center;
  margin: 20px 0; 
  color: #c1aef9; 
  text-decoration: none; 
  transition: color 0.3s;
  margin-top: 0%;
}
.register-form a:hover {
  color: #8903a7d4;
}
.register-bg {
  width: 100%; 
  height: 100%; 
  flex: 1;
  background: url('../imagen/simon-bolivar1.webp') center/cover;
}

/* Toast */

.contenedor-toast {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  z-index: 9999;
}

.toast{
  background: #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  animation-name: apertura;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  position: relative;
}



.toast.exito{
  background: #4caf50;
}

.toast.error, .toast.error2{
  background: #f44336;
}

.toast .contenido{
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.toast .titulo{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.toast .descripcion{
  font-size: 14px;
  color: #fff;
}

.toast .btn-cerrar{
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 0 10px 10px 0;
  transition: .3s ease all;
}

.toast .btn-cerrar:hover{
    background: rgba(0, 0, 0, 0.3);
}

.toast .btn-cerrar .icono{
  width: 20px;
  height: 20px;
  color: #fff;
}

.toast .btn-cerrar .icono {
  display: flex; /* Asegura que el contenido sea flexible */
  justify-content: flex-start; /* Alinea el ícono a la izquierda */
  align-items: center; /* Alinea verticalmente al centro */
  width: auto; /* Ajusta el ancho al contenido */
  height: auto; /* Ajusta la altura al contenido */
}

.toast .icono .i{
  font-size: 30px;
  color: #fff;
  color: rgba(0, 0, 0, 0.4);
}

@keyframes apertura{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
  
}

.toast.cerrando{
  animation-name: cierre;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cierre{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(calc(100% + 40px));
  }
  
}

.toast.autoCierre::after{
  content: "";
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  animation-name: autoCierre;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes autoCierre {
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
  
}

/* Mensajes de error para el formulario de registro */
.error {
  color: #f7323b;
  font-size: 13px;
  display: none;

}
input.error-input {
  border: 2px solid #d8000c;
}

.manual-link{
  padding: 15px;
  width: 70px;
  height: 70px;
  background: radial-gradient(
    circle,
    #3a14a5 0%,
    #3a14a5 45%,
    #4f27bc 55%,
    #4f27bc 65%,
    #6949c2 75%,
    #6949c2 100%
  );

  align-items: center;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  text-decoration: none;
  text-shadow: 2px 2px 4px #050505;
  bottom: 44px;
  right: 44px;
  font-family: none;
}

.manual-linka, .manual-linkb{
  color: white;

}

.manual-linkb{
  position: absolute;
  top: 18%;
}